[Unit]
Description=LCC / PNET Router
After=network.target

[Service]
User=debian
Group=debian
EnvironmentFile=-/etc/default/lccpnetrouter
ExecStart=/opt/LCC-PNET-Router/sbin/LCC-PNET-Router $LCCPNETROUTER_OPTS

[Install]
WantedBy=multi-user.target

